<div class="main-page-error">
	<div class="child-page-error">
		<div class="ht-100v d-flex">
			<div class="shadow-none mx-auto text-center bd-transparent bg-transparent align-self-center">
				<h1 class="tx-bold tx-140 tx-gray-500">4<span class="text-danger">0</span>4</h1>
				<h3 class="text-uppercase">Page not found!</h3>
				<p class="tx-gray-500">Seems you're looking for something that doesn't exist.</p>
				<div class="form-group">
					<div class="text-center">
						<p>Copyright &copy; {{this.date}}</p>
					</div>
				</div>
				<small>
					<a href="https://emtechhouse.co.ke" target="_blank">SSO - From E&M Technology House</a></small>
				<div class="col-md-12 col-sm-12 text-center">
					<hr>
					<div>
						<a [routerLink]="[ '/authentication']" routerLinkActive="active" skipLocationChange="">
							Need Help?
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
