.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.pull-right {
  float: right !important;
  margin: 8px 8px 8px 0;
}

.pull-left {
  float: left !important;
  margin-left: 10px !important;
  padding-left: 10px!important;
}
.row{
  margin: auto;
}
