
<mat-card>
  <div *ngIf="loading">
    <p><small>Processing, please wait...</small></p>
    <p>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </p>
  </div>
    <mat-card-header  class="breadcrumb">
      <div>Sharecapital - Maintenance</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>

  <div class="container-fluid">
    <form
    class="form"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    #resetRequestsForm="ngForm"
    novalidate
  >
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
         <label class="start pull-left">Function<span class="warning">*</span></label>
        </div>
        <div class="col-md-6 col-sm-12 form-column ">
          <select (change)="onSelectFunction($event)" class="form-control" formControlName="function_type" [ngClass]="{ 'is-invalid': submitted && f.function_type.errors }" >
            <option value="" disabled>-- Choose Function --</option>
            <option *ngFor="let flag of functionArray" [value]="flag">{{ flag }}</option>
          </select>
        </div>
     </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div  class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
         <label class="start pull-left">Share Capital.Code<span class="warning">*</span></label>
        </div>
        <div class="col-md-6 col-sm-12 form-column">
          <input type="number" required min="1" max="999999" oninput ="this.value=this.value.toUpperCase()"
          formControlName="shareCapitalCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shareCapitalCode.errors }" />
          <mat-icon  *ngIf="existingData" (click)="shareCapitalLookup()">search</mat-icon><br>
        </div>
     </div>
     <div  class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <mat-hint>{{this.shareCapitalDescription}}</mat-hint>
      </div>
   </div>
    </div>
  </div>
    <br />
    <button class="pull-right" mat-raised-button color="primary" type="submit">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      PROCEED
    </button>
    <br />
  </form>
    </div>
  </mat-card>
