<!-- Title group  -->
<div class="">
    <mat-card>
    <div class="title-group">
        <h3 class="mat-h1">
         <strong>Register Now</strong>
       </h3>
        <mat-divider></mat-divider>
    </div>
    <div class="container">
        <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 mt-5">

        <div class="loginImage">
        <img src="../../../../assets/Images/loginImage.png" class="
        img-responsive">
      </div><!--end of header-->
        <div class="infoSection">
        Remember all logins credentials attempts are recorded for security scanning, analysis and intepretation.Any form of physing,
                hacking shall be recorded and you may be subjected to law.<br>
                Avoid Trials
                <br>
                Regards <strong>Procurement Group</strong>

        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 mt-5 ">

        <div class="card mat-elevation-z8">
        <span *ngIf="loading" ><mat-progress-bar mode="indeterminate"></mat-progress-bar></span>

            <div class="card-header">
                <div class="">
                    <span><h1>Set New Password</h1></span>
                  </div>
                <div class="profile-card">
                    <img src="../../../assets/logo.png">
                  </div><!--end of header-->

            </div>
            <div class="card-body">

                <div *ngIf="success" class="alert alert-success mt-3 mb-0">

                    <h2>Success!</h2>
                    {{success}}</div>

                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                        </div>
                    </div>
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                       Submit
                    </button>
                    <br>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    <br>
                    <a class="pull-left" routerLink="/Auth/Reset_Password">Forgot  Password?</a>
                    <a class="pull-right" routerLink="/Auth/login">Login</a>
                </form>
            </div>


        </div>
    </div>
    </div>
    </div>
    </mat-card>
      </div>
