// th{
//     text-align: left !important;
//   }
//   table{
//     // font-weight: 100px;
//     // font-size: 10px;
//     // font-family: monospace;
//   }
//   a{
//     font-size: 10px;

//   }
//   mat-icon {
//     font-size: 18px;
//     height: 18px;
//     line-height: 25px;
//   }

.actionButton {
    min-width: unset!important;
    height: 25px;
    line-height: 25px;
    padding: auto;
    margin: 2px;

    .mat-icon {
      font-size: 25px;
      height: 25px;
      line-height: 25px;
    }
  }
  .update{
    color: rgb(0, 0, 170);
    font-weight: 800;
    font-style: bolder;
    padding: 5px;
    padding-top:5px;
    margin: 5px;
  }
  .danger{
    color: rgb(255, 92, 92) !important;
    font-weight: 900;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
//   button{
//     margin-top:5px;
//     margin-bottom: 10px;
//   }
//   .grossPay{
//     background-color:rgb(255, 136, 0);
//     color:black;
//     font-style: italic;
//     font-weight: 600;
//     border-radius: 4px;
//     padding-top: 5px;
//     padding-bottom: 5px;
//     padding-left: 10px;
//     padding-right: 10px;
//   }
//   .netPay{
//     background-color:darkgreen;
//     color:white;
//     font-style: italic;
//     font-weight: 600;
//     border-radius: 4px;
//     padding-top: 5px;
//     padding-bottom: 5px;
//     padding-left: 10px;
//     padding-right: 10px;
//   }
//   .results{
//     display: block !important;
//     margin: 5px;
//   }
//   .results p{
//    color: rgb(0, 0, 112);
//    font-family: monospace;
//   }
//   .hidden{
//     display: none !important;
//   }

//   .searchyear{
//   float: right;
//   }
//   #year{
//   padding: 2px;
//   }
//   .btn-sm{
//   font-size: 8;
//   }
//   // td{
//   // font-size: 10px !important;
//   // }
//   .form-control{
//   width: min-content;
//   height: 25px;
//   }
//   .table-action-row{
//   margin-top: 5px !important;
//   padding-top: 5px;
//   }
//   .table-main-action-btn{
//   margin: 2px;
//   padding: 2px;
//   height: 25px !important;
//   width:min-content !important;
//   line-height: 20px !important;
//   text-align: center !important;
//   font-size: 10px !important;
//   margin-top: 0px !important;
//   padding-left: 2px;
//   padding-right: 2px;
//   }
//   // .ng-container{
//   // font-size: 10px !important;
//   // }
//   th{
//   background-color: rgb(243, 243, 243);
//   }

//   .mat-column-id {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 28% !important;
//   width: 3% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
//   }
//   .mat-column-firstName, .mat-column-middleName, .mat-column-lastName, .mat-column-nationalId, .mat-column-personalPhone, .mat-column-bankName{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 28% !important;
//   // width: 7% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;
//   word-break: break-word;
//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
//   }

//   .mat-column-bankAccount,
//   .mat-column-basic_salary,
//   .mat-column-kraNo,
//   .mat-column-payeDeductions,
//   .mat-column-nssfNo,
//   .mat-column-nssfDeductions,
//   .mat-column-nhifNo,
//   .mat-column-nhifDeductions,
//   .mat-column-netPay{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 28% !important;
//   // width: 5% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
//   }

//   .mat-column-month,
//   .mat-column-year{
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 28% !important;
//   // width: 4% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;
//   word-break: break-word;
//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
//   }
//   .table-row{
//   width: 100%;
//   overflow-x: auto !important;
//   padding: 0px !important;
//   margin: 0px !important;
//   }
//   .y-scrollable-table{
//   // width: 1920px !important;
//   min-width: 1920px !important;
//   }
//   tr:hover {
//     background: whitesmoke;
//     -webkit-transform: scale(1.0);
//     -moz-transform: scale(1.0);
//     -o-transform: scale(1.0);
//     transform: scale(1.0);
//     -webkit-box-shadow: 2px 2px 4px rgb(199, 199, 199);
//     -moz-box-shadow: 2px 2px 4px rgb(199, 199, 199);
//     box-shadow: 2px 2px 4px rgb(199, 199, 199);
//   }

//   .table-main-action-btn {
//     margin: 2px;
//     padding: 2px;
//     height: 25px !important;
//     width: min-content !important;
//     line-height: 20px !important;
//     text-align: center !important;
//     font-size: 10px !important;
//     margin-top: 0px !important;
//     padding-left: 2px;
//     padding-right: 2px;
//   }
//   .green-btn {
//     background-color: chartreuse;
//   }



