.main-page-error {
	margin: auto;
	padding: 10% !important;
	line-height: 200px;
	height: 200px;
	text-align: center;
}

.child-page-error {
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}
