<div *ngIf="loading">
  <p><small>Loading Office Accounts Data, please wait...</small></p>
  <p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </p>
</div>
<div class="breadcrumb">
  Office Accounts Lookup
  <div class="col-md-6 col-sm-12 ml-auto">
    <input class="pull-right search form-control" (keyup)="applyFilter($event)" placeholder="Filter..." #input>
  </div>
</div>
<br>
<div class="table-row">
  <table mat-table matSort matTableExporter [dataSource]="dataSource">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td (click)="onSelect(row)" mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="acid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Account ID</th>
      <td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.acid}} </td>
    </ng-container>
    <ng-container matColumnDef="accountName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Name</th>
      <td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.account_name}} </td>
    </ng-container>
    <ng-container matColumnDef="solCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch Code</th>
      <td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.sol_code}} </td>
    </ng-container>
    <ng-container matColumnDef="verifiedFlag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Verified Flag</th>
      <td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.verified_flag}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 30, 50, 100]" aria-label="Select page"></mat-paginator>
