<div *ngIf="loading">
    <p><small>Loading Customer Data, please wait...</small></p>
    <p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </p>
</div>
<div class="breadcrumb">
    Card numbers Lookup
    <div class="col-md-9 col-sm-12 ml-auto">
        <input class="pull-right search form-control" (keyup)="applyFilter($event)" placeholder="Filter..." #input>
    </div>
</div>
<br>

<div class="table-row">
    <table class="y-scrollable-table" mat-table matSort matTableExporter [dataSource]="dataSource">
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
            <td (click)="onSelect(row)" mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="acid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Account ID</th>
            <td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.acid}} </td>
        </ng-container>
        <ng-container matColumnDef="customerCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Card number</th>
            <td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.cardNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="accountName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Name</th>
            <td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.accountName}}
                {{row.surname}} </td>
        </ng-container>
        <ng-container matColumnDef="verifiedFlag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Verified Flag</th>
            <td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.verifiedFlag}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 30, 40, 50, 100]" aria-label="Select page of users"></mat-paginator>

