<table mat-table [dataSource]="salariesDataSource" matSort matTableExporter>
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
    <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
  </ng-container>

  <ng-container matColumnDef="uniqueCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
    <td mat-cell *matCellDef="let row">{{row.uniqueCode}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let row">{{row.type}}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
    <td mat-cell *matCellDef="let row">{{row.amount}}</td>
  </ng-container>

  <ng-container matColumnDef="entryTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Entry Date</th>
    <td mat-cell *matCellDef="let row">{{row.entryTime}}</td>
  </ng-container>

  <ng-container matColumnDef="account">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
    <td mat-cell *matCellDef="let row">{{row.account}}</td>
  </ng-container>

  <ng-container matColumnDef="verified_flag">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>1st Verification</th>
    <td mat-cell *matCellDef="let row">{{row.verifiedFlag_1}}</td>
  </ng-container>

  <ng-container matColumnDef="verified_flag_2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>2nd Verification</th>
    <td mat-cell *matCellDef="let row">{{row.verifiedFlag_2}}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let row">{{row.status}}</td>
  </ng-container>

  <ng-container matColumnDef="verify">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
    <td mat-cell *matCellDef="let row">
      <button mat-raised-button color="primary" (click)="action(row)">
        {{ row.action }}
      </button>
    </td>
   
  </ng-container> 

  <tr mat-header-row *matHeaderRowDef="salariesColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: salariesColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="9">No data matching the filter "{{input?.value}}"</td>
  </tr>
</table>

