.table-action-row {
    margin-top: 5px !important;
    padding-top: 5px;
  }
  .table-main-action-btn {
    margin: 2px;
    padding: 2px;
    height: 25px !important;
    width: min-content !important;
    line-height: 20px !important;
    text-align: center !important;
    font-size: 10px !important;
    margin-top: 0px !important;
    padding-left: 2px;
    padding-right: 2px;
  }