<div *ngIf="loading">
	<p><small>Loading Sacco Entity Data, please wait...</small></p>
	<p>
		<mat-progress-bar mode="query"></mat-progress-bar>
	</p>
</div>
<mat-card-header class="breadcrumb">
	<div>Sacco EntityLook-up</div>
	<div class="col-md-6 col-sm-12 ml-auto">
		<input class="pull-right search form-control" (keyup)="applyFilter($event)" placeholder="Filter..." #input>
	</div>
</mat-card-header>
<div class="table-row">
	<table class="y-scrollable-table" mat-table matSort matTableExporter [dataSource]="dataSource">
		<ng-container matColumnDef="index">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
			<td (click)="onSelect(row)" mat-cell *matCellDef="let row;">{{row.id}}</td>
		</ng-container>
		<ng-container matColumnDef="entityId">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Entity Id</th>
			<td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.entityId}} </td>
		</ng-container>
		<ng-container matColumnDef="entityName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
			<td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.entityName}} </td>
		</ng-container>
		<ng-container matColumnDef="entityLocation">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
			<td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.entityLocation}} </td>
		</ng-container>
		<ng-container matColumnDef="entityStatus">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
			<td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.entityStatus}} </td>
		</ng-container>
		<ng-container matColumnDef="postedBy">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Posted BY</th>
			<td (click)="onSelect(row)" mat-cell *matCellDef="let row"> {{row.postedBy}} </td>
		</ng-container>
		<ng-container matColumnDef="verifiedFlag">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Verified</th>
			<td (click)="onSelect(row)" mat-cell *matCellDef="let row">
				<span *ngIf="row.verifiedFlag == 'Y' " class="badge badge-pill badge-primary">YES</span>
				<span *ngIf="row.verifiedFlag == 'N' " class="badge badge-pill badge-danger ">NO</span>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
		</tr>
	</table>
</div>
<mat-paginator [pageSizeOptions]="[7, 20, 30, 40, 50, 100]" aria-label="Select page"></mat-paginator>
