<mat-card>
	<div *ngIf="loading">
		<p><small>Processing, please wait...</small></p>
		<p>
			<mat-progress-bar mode="query"></mat-progress-bar>
		</p>
	</div>
	<mat-card-header class="breadcrumb">
		<div>
			<a routerLink="/system">Dashboard / </a>
			<a routerLink="/system/configurations-employee/maintenance">Employer Maintenenace / </a>Employer
		</div>
	</mat-card-header>
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<h4>Function:- <strong>{{this.fmData.function_type}}</strong> </h4>
				</div>
				<div class="col-md-6 col-sm-12">
					<h4>Employer Code: <strong>{{this.fmData.employerCode}}</strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-12 row" *ngIf="onShowResults">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<h4>Posted BY:- <strong>{{this.results.postedBy}}</strong></h4>
				</div>
				<div class="col-md-3 col-sm-12">
					<h4>Posted ON:- <strong>{{this.results.postedTime | date}}</strong></h4>
				</div>
				<div class="col-md-3 col-sm-12">
					<h4>Verification:- <strong>{{this.results.verifiedFlag}}</strong></h4>
				</div>
				<div class="col-md-3 col-sm-12">
					<h4>Verified BY:- <strong>{{this.results.verifiedBy}}</strong></h4>
				</div>
			</div>
		</div>
	</div>
	<mat-divider></mat-divider>
	<br>
	<div class="container-fluid">
		<form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()" #resetRequestsForm="ngForm" novalidate>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label>Employee Name<span class="text-danger" *ngIf="showWarning">*</span></label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input type="name" class="form-control" formControlName="name"
								[ngClass]="{ 'is-invalid': submitted && f.name.errors }"
								oninput="this.value=this.value.toUpperCase()"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="60" minlength="3" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column">
							<label class="start pull-left">Customer Code</label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input type="text" formControlName="customerCode" class="form-control" maxlength="12"
								minlength="1">
							<mat-icon color="primary" (click)="customerLookup()"
								*ngIf="onShowSearchIcon">search</mat-icon>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label class="start pull-left">Customer Name</label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input readonly type="text" formControlName="customerName" class="form-control">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label>Contact Phone</label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input type="text" class="form-control" formControlName="phone"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="13" minlength="10" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label>Email Address</label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input type="email" formControlName="email" class="form-control"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="55" minlength="10" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label>Organization Type</label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input type="text" class="form-control" formControlName="organizationType"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="50" minlength="2" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label>Town</label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input type="text" class="form-control" formControlName="town"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="120" minlength="2" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label>Website</label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input type="text" class="form-control" formControlName="website"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="120" minlength="2" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label>Salary Payment Account</label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input type="text" class="form-control" formControlName="defaultSalariesPaymentAccount"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="120" minlength="2" />
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label>Address</label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input type="text" class="form-control" formControlName="address"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="120" minlength="2" />
						</div>
					</div>
				</div>
			</div>
			<br>
			<hr>
			<br>
			<button mat-raised-button type="submit" class="pull-left bg-secondary text-white"
				routerLink="/system/configurations-employee/maintenance">BACK</button>
			<button *ngIf="!hideBtn" class="pull-right" mat-raised-button [color]="btnColor" type="submit">
				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{btnText}}
			</button>
			<br>
		</form>
	</div>
</mat-card>
