<mat-card>
	<div *ngIf="loading">
		<p><small>Processing, please wait...</small></p>
		<p>
			<mat-progress-bar mode="query"></mat-progress-bar>
		</p>
	</div>
	<mat-card-header class="breadcrumb">
		<div>
			<a routerLink="/saccomanagement">Dashboard / </a>
			<a routerLink="/saccomanagement/entity-basic-actions/maintenance">Entity Actions Maintenenace / </a>Entity Actions
		</div>
	</mat-card-header>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<h4>Function:- <strong>{{this.fmData.function_type}}</strong> </h4>
				</div>
				<div class="col-md-4 col-sm-12" *ngIf="onShowResults">
					<h4>Code ID: <strong>{{this.id}}</strong></h4>
				</div>
				<div class="col-md-4 col-sm-12" *ngIf="onShowResults">
					<h4>Role ID: <strong>{{this.roleId}}</strong></h4>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 row" *ngIf="onShowResults">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<h4>Verification:- <strong>{{this.verifiedFlag}}</strong></h4>
				</div>
				<div class="col-md-4 col-sm-12">
					<h4>Posted BY:- <strong>{{this.postedBy}}</strong></h4>
				</div>
				<div class="col-md-4 col-sm-12">
					<h4>Posted Time:- <strong>{{this.postedTime | date}}</strong></h4>
				</div>
			</div>
		</div>
	</div>
	<mat-divider></mat-divider>
	<br />
	<div class="container-fluid">
		<form class="form" [formGroup]="apiFormData" #resetRequestsForm="ngForm" novalidate>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label class="start pull-left">Work Class<span class="warning">*</span></label>
						</div>
						<div class="col-md-6 col-sm-12 form-column ">
							<select (change)="onWorkClassChange($event)" class="form-control"
								formControlName="workclassId"
								[ngClass]="{ 'is-invalid': submitted && f.privilegeId.errors }">
								<option value="" disabled>-- CHOOSE WORK CLASS --</option>
								<option *ngFor="let item of classdata" [value]="item.id">{{ item.workClass }}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column">
							<label class="start pull-left">Privileges</label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<select (change)="onSelecteWorkClass($event)" class="form-control"
								formControlName="privilegeId"
								[ngClass]="{ 'is-invalid': submitted && f.privilegeId.errors }">
								<option value="" disabled>-- CHOOSE WORK CLASS --</option>
								<option *ngFor="let item of priviledgedata" [value]="item.id">{{ item.name }}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<br>
			<hr>
			<div class="row">
				<h3 class="theBasicActions"> <strong>Basic Actions</strong> </h3>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<div class="col-md-12 col-sm-12 form-column">
							<ul class="list-group-horizontal d-flex flex-wrap list-style">
								<div class="col-md-4" *ngFor="let item of displayArray; let i = index">
									<mat-checkbox color="primary" [disabled]="this.isDisabled" [checked]="item.selected"
										(change)="onChange($event, i)"> {{item.name}} </mat-checkbox>
								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<br />
			<hr>
			<br />
			<button mat-raised-button type="button" class="bg-secondary text-white"
				routerLink="/saccomanagement/entity-basic-actions/maintenance" skipLocationChange="">
				BACK
			</button>
			<button *ngIf="!hideBtn" (click)="onSubmit()" class="pull-right" mat-raised-button [color]="btnColor"
				type="submit">
				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{btnText}}
			</button>
			<br />
		</form>
	</div>
</mat-card>
