<mat-card>
  <div *ngIf="loading">
    <p><small>Processing, please wait...</small></p>
    <p>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </p>
  </div>
  <mat-card-header class="breadcrumb">
    <div>
      <a routerLink="/system">Dashboard / </a>Cheque Book Maintenance
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <div class="container-fluid">
    <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()" #resetRequestsForm="ngForm" novalidate>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
              <label class="start pull-left">Function<span class="warning">*</span></label>
            </div>
            <div class="col-md-6 col-sm-12 form-column ">
              <select (change)="onSelectFunction($event)" class="form-control" formControlName="function_type"
                [ngClass]="{ 'is-invalid': submitted && f.function_type.errors }">
                <option value="" disabled>-- CHOOSE FUNCTION --</option>
                <option *ngFor="let flag of functionArray" [value]="flag">{{ flag }}</option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="existingData" class="col-md-6 col-sm-12">
          <div class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
              <label class="start pull-left">Cheque ID<span class="warning">*</span></label>
            </div>
            <div class="col-md-6 col-sm-12 form-column">
              <input type="number" min="1" max="999999" [value]="this.id" oninput="this.value=this.value.toUpperCase()"
                formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" /> &nbsp;
              <mat-icon *ngIf="existingData" (click)="chequebookLookUp()" color="primary">search</mat-icon><br>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
            </div>
            <div class="col-md-6 col-sm-12 form-column">
              <mat-hint>{{this.workClassName}}</mat-hint>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr>
      <button mat-raised-button class="pull-left bg-primary text-white" routerLink="/system/"
        skipLocationChange="">BACK</button>
      <button class="pull-right" mat-raised-button color="primary" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        PROCEED
      </button>
      <br />
    </form>
  </div>
</mat-card>
