<mat-card>
  <div *ngIf="loading">
    <p><small>Processing, please wait...</small></p>
    <p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </p>
  </div>
  <mat-card-header class="breadcrumb">
    <div>
      <a routerLink="/system">Dashboard / </a>
      <a routerLink="/system/savings-account/maintenance">Savings Account Maintenenace / </a> Savings Account
    </div>
  </mat-card-header>
  <div class="row" *ngIf="onShowMainMenu">
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h4>Function:- <strong>{{this.fmData.function_type}}</strong> </h4>
        </div>
        <div class="col-md-6 col-sm-12" *ngIf="account_code">
          <h4>Account Code: <strong>{{account_code}}</strong></h4>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 row" *ngIf="onShowResults">
      <div class="row" *ngIf="this.results">
        <div class="col-md-6 col-sm-12">
          <h4>Verification:- <strong>{{this.results.verifiedFlag}}</strong></h4>
        </div>
        <div class="col-md-6 col-sm-12">
          <h4>Posted BY:- <strong>{{this.results.postedBy}}</strong></h4>
        </div>
      </div>
    </div>
  </div>
  <form action="" [formGroup]="statementForm">
    <div class="row" *ngIf="onShowAccountStatementDateParams">
      <div class="col-md-5 col-sm-12">
        <div class="form-group">
          <div class="col-md-4 col-sm-12 form-column">
            <label for="" class="start pull-left">From Date<span class="warning" *ngIf="onShowWarning">*</span></label>
          </div>
          <div class="col-md-8 col-sm-12 form-column">
            <input [matDatepicker]="fromdate" formControlName="fromdate" (dateChange)="eventStart($event)"
              class="form-control">
            <span>
              <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
            </span>
            <mat-datepicker #fromdate></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="form-group">
          <div class="col-md-4 col-sm-12 form-column">
            <label for="" class="start pull-left">To Date<span class="warning" *ngIf="onShowWarning">*</span></label>
          </div>
          <div class="col-md-8 col-sm-12 form-column">
            <input [matDatepicker]="todate" formControlName="todate" class="form-control"
              (dateChange)="eventEnd($event)">
            <span>
              <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
            </span>
            <mat-datepicker #todate></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-12">
        <div class="form-group">
          <button type="button" (click)="getAccounStatementRecords()" class="btn btn-primary btn-sm">SUBMIT</button>
        </div>
      </div>
    </div>
  </form>
  <div class="container-fluid">
    <form action="" [formGroup]="formData" novalidate class="form" >
      <mat-tab-group mat-align-tabs="center">
        <mat-tab class="mat-tab container-fluid" label="General Details" *ngIf="onShowGeneralDetailsTab">
          <br>
          <div class="row" *ngIf="onShowAccountBalance">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Account Balance <span class="warning"
                      *ngIf="onShowWarning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="text" placeholder="0.0000" formControlName="accountBalance" class="form-control"
                    oninput="this.value=this.value.toUpperCase()"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="60">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Membership Code<span class="warning"
                      *ngIf="onShowWarning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input type="text" formControlName="customerCode" class="form-control"
                    oninput="this.value=this.value.toUpperCase()"
                    [ngClass]="{ 'is-invalid': submitted && f.customerCode.errors }"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="15">
                  &nbsp; &nbsp;
                  <mat-icon *ngIf="showSearch" color="primary" (click)="customerLookup()">
                    search</mat-icon>
                  &nbsp; &nbsp;
                  <mat-icon color="primary" (click)="memberDetailsLookup()"
                    *ngIf="onMemberDetailsLookup">remove_red_eye</mat-icon>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Account Name</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="text" formControlName="accountName" class="form-control"
                    oninput="this.value=this.value.toUpperCase()"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="60">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Manager Code<span class="warning"
                      *ngIf="onShowWarning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="text" formControlName="managerCode" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Manager Name</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="text" formControlName="accountManager" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Membership Type Code</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input type="text" readonly formControlName="customerType" class="form-control"
                    oninput="this.value=this.value.toUpperCase()">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Account Type</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input type="text" readonly formControlName="accountType" class="form-control"
                    oninput="this.value=this.value.toUpperCase()">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Account Ownership</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="text" formControlName="accountOwnership" class="form-control"
                    placeholder="SINGLE ACCOUNT"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="20">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Branch Code</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="text" formControlName="solCode" class="form-control"
                    oninput="this.value=this.value.toUpperCase()"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="6">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                <label class="start pull-left">Account Currency </label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                <input type="text" formControlName="chrg_calc_crncy"
                  class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.chrg_calc_crncy.errors }" />
                <mat-icon *ngIf="isEnabled" (click)="chrgCalcCrncyLookup()">search</mat-icon>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Opening Date</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly [matDatepicker]="openingDate" formControlName="openingDate" class="form-control">
                  <span *ngIf="onShowOpeningDate" color="primary">
                    <mat-datepicker-toggle matSuffix [for]="openingDate"></mat-datepicker-toggle>
                  </span>
                  <mat-datepicker color="primary" #openingDate></mat-datepicker>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Product Code<span class="warning"
                      *ngIf="onShowWarning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input type="text" formControlName="productCode" class="form-control"
                    oninput="this.value=this.value.toUpperCase()"
                    [ngClass]="{ 'is-invalid': submitted && f.productCode.errors }"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="15" minlength="1">
                  &nbsp; &nbsp;
                  <mat-icon *ngIf="showSearch" color="primary" (click)="savingsProductCodeLookUp()">
                    search</mat-icon>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">GL Subhead</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="text" formControlName="glSubhead" class="form-control"
                    oninput="this.value=this.value.toUpperCase()"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="6">
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Cash Exception Limit Dr.</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="text" formControlName="cashExceptionLimitDr" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Cash Exception Limit Cr.</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="text" formControlName="cashExceptionCr" class="form-control"
                    >
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Transfer Exception Limit Dr</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="number" formControlName="transferExceptionLimitDr" class="form-control"
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Transfer Exception Limit Cr.</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="number" formControlName="transferExceptionLimitCr" class="form-control"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="12">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Sector Code<span class="warning"
                      *ngIf="onShowWarning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <select (change)="onSectorCodeChange($event)" formControlName="misSectorCode" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.misSectorCode.errors }">
                    <option value="" disabled>SELECT SECTOR</option>
                    <option *ngFor="let item of mainSectorData" [value]="item.misCode">{{item.misSector}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Sub Sector Code<span class="warning"
                      *ngIf="onShowWarning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <select formControlName="misSubSectorCode" class="form-control" *ngIf="onShowSelect"
                    [ngClass]="{ 'is-invalid': submitted && f.misSubSectorCode.errors }">
                    <option value="" disabled>SELECT SUBSECTOR</option>
                    <option *ngFor="let sub of subSectorData" [value]="sub.misSubcode">{{sub.misSubSector}}
                    </option>
                  </select>
                  <input type="text" formControlName="misSubSectorCode" class="form-control"
                    oninput="this.value=this.value.toUpperCase()" *ngIf="isHiddenInput"
                    [ngClass]="{ 'is-invalid': submitted && f.misSubSectorCode.errors }"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="100">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label class="start pull-left">Is Withdrawal Allowed ?</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <mat-radio-group class="pull-right" aria-label="Select an option"
                    formControlName="isWithdrawalAllowed"
                    [ngClass]="{ 'is-invalid': submitted && f.isWithdrawalAllowed.errors }">
                    <mat-radio-button [value]="true" color="primary">YES</mat-radio-button>
                    <mat-radio-button [value]="false">NO</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12" *ngIf="onShowAccountStatus">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Account Status</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input readonly type="text" formControlName="accountStatus" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
               <div class="form-group">
                 <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Mode of Operation<span class="warning"
                      *ngIf="onShowWarning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <select formControlName="operationMode" class="form-control">
                    <option value="" disabled>SELECT OPERATION</option>
                    <option *ngFor="let item of operationsArray" [value]="item">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label class="start pull-left">Joint Account<span class="warning"
                      *ngIf="onShowWarning">?</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <mat-checkbox formControlName="checkedJointAccount" class="example-margin pull-right" color="primary"
                    (change)="onCheckedJointAccount($event)">
                  </mat-checkbox>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Account Statement</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <mat-checkbox formControlName="accountStatement" class="example-margin pull-right" color="primary"
                    (change)="onCheckedAccountStatement($event)">
                  </mat-checkbox>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12" *ngIf="onShowAccountStatement">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Statement Frequency</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <select formControlName="statementFreq" class="form-control">
                    <option value="" disabled>-SELECT FREQUENCY-</option>
                    <option oninput="this.value=this.value.toUpperCase()" *ngFor="let item of statementFreqArray"
                      [value]="item">{{item}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12" *ngIf="onShowAccountStatement">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                  <label for="" class="start pull-left">Dispatch Mode</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <select formControlName="dispatchMode" class="form-control">
                    <option value="" disabled>SELECT MODE</option>
                    <option *ngFor="let item of despatch_mode_array" [value]="item">{{item}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <button *ngIf="displayBackButton" mat-raised-button type="submit" class="pull-left bg-secondary text-white approval"
                routerLink="/system/savings-account/maintenance">BACK</button>
              <button *ngIf="displayApprovalBtn" mat-raised-button type="submit" class="pull-left bg-secondary text-white approval"
                routerLink="/system/new/notification/allerts">BACK</button>
              <button mat-raised-button type="submit" *ngIf="onShowDeleteButton" class="float-right" color="accent"
                style="margin-bottom:20px ;">DELETE</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="SPECIFIC DETAILS" *ngIf="onShowSpecificDetailsTab">
          <br>
          <form [formGroup]="savingsForm">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column">
                    <label for="" class="start pull-left">Monthly Saving Amount<span class="warning"
                        *ngIf="onShowWarning"></span></label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <input type="number" formControlName="sba_monthlyValue" placeholder="" class="form-control"
                      [ngClass]="{ 'is-invalid': submittedSba && s.sba_monthlyValue.errors }"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      maxlength="12">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column">
                    <label for="" class="start pull-left">Saving Period(MM)<span class="warning"
                        *ngIf="onShowWarning"></span></label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <input (keyup)="onKeyUp($event)" type="number" formControlName="sba_savingPeriod" placeholder=""
                      class="form-control" [ngClass]="{ 'is-invalid': submittedSba && s.sba_savingPeriod.errors }"
                      max="1000" maxlength="4">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column">
                    <label for="" class="start pull-left">Matured Saving Amount<span class="warning"
                        *ngIf="onShowWarning"></span></label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <input readonly type="number" formControlName="sba_maturedValue" placeholder="" class="form-control"
                      [ngClass]="{ 'is-invalid': submittedSba && s.sba_maturedValue.errors }"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      maxlength="12">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column">
                    <label for="" class="start pull-left">Start Date</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <input readonly [matDatepicker]="picker1" formControlName="sba_startDate" class="form-control">
                    <span *ngIf="onShowDatePicker">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    </span>
                    <mat-datepicker #picker1></mat-datepicker>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column">
                    <label for="" class="start pull-left">Saving Maturity Date(1YR)</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <input readonly [matDatepicker]="picker2" formControlName="sba_maturedDate" class="form-control">
                    <span *ngIf="onShowDatePicker">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    </span>
                    <mat-datepicker #picker2></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <button *ngIf="displayBackButton" mat-raised-button type="submit" class="pull-left bg-secondary text-white approval"
                routerLink="/system/savings-account/maintenance">BACK</button>
              <button *ngIf="displayApprovalBtn" mat-raised-button type="submit" class="pull-left bg-secondary text-white approval"
                routerLink="/system/new/notification/allerts">BACK</button>
              <button mat-raised-button type="submit" *ngIf="onShowDeleteButton" class="float-right" color="accent"
                style="margin-bottom:20px ;">DELETE</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab class="mat-tab" label="RELATED PARTIES" *ngIf="onShowRelatedPartiesTab">
          <br>
          <div>
            <div *ngIf="onShowRelatePartiesForm">
              <form action="" [formGroup]="relatedPartiesForm" (ngSubmit)="onSubmit()" class="form">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 form-column">
                        <label for="" class="start pull-left">Membership Code</label>
                      </div>
                      <div class="col-md-6 col-sm-12 form-column">
                        <input type="text" formControlName="relPartyCustomerCode" class="form-control"
                          oninput="this.value=this.value.toUpperCase()"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          maxlength="15">
                        &nbsp; &nbsp;
                        <mat-icon *ngIf="showSearch" color="primary" (click)="relatedPartyCustomerLookup()">
                          search</mat-icon>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 form-column">
                        <label for="" class="start pull-left">Membership Name</label>
                      </div>
                      <div class="col-md-6 col-sm-12 form-column">
                        <input readonly formControlName="relPartyCustomerName" class="form-control"
                          oninput="this.value=this.value.toUpperCase()" type="name"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          maxlength="60">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 form-column">
                        <label for="" class="start pull-left">Relation Type</label>
                      </div>
                      <div class="col-md-6 col-sm-12 form-column">
                        <select formControlName="relPartyRelationType" class="form-control">
                          <option value="" disabled>SELECT RELATION TYPE</option>
                          <option oninput="this.value=this.value.toUpperCase()"
                            *ngFor="let relationtype of relationtypes" [value]="relationtype.description">
                            {{relationtype.code}} - {{relationtype.description}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 form-column">
                        <label for="" class="start pull-left">Postal Address</label>
                      </div>
                      <div class="col-md-6 col-sm-12 form-column">
                        <input formControlName="relPartyPostalAddress" class="form-control"
                          oninput="this.value=this.value.toUpperCase()" type="text"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          type="text" maxlength="55">
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="showButtons">
                  <button type="button" class="pull-right btn btn-success btn-sm" (click)="onAddRelatedParty()"
                    *ngIf="onShowAddButton">&nbsp;<i class="fa fa-plus"></i> &nbsp;ADD</button>
                  <button type="button" class="pull-right btn btn-success btn-sm" *ngIf="onShowUpdateButton"
                    (click)="onUpdateRelatedParty()">UPDATE</button>
                  <button type="button" class="pull-right btn btn-primary btn-sm"
                    (click)="onInitrelatedPartiesForm()">RESET FORM</button>
                  <button type="button" class="pull-right btn btn-secondary btn-sm"
                    (click)="onRelatedPartyClear()">CLEAR
                    ALL</button>
                </div>
              </form>
            </div>
          </div>
          <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
            <thead>
              <tr>
                <th>No.</th>
                <th>Membership Code</th>
                <th>Membership Name</th>
                <th>Relationship Type</th>
                <th>Address Line</th>
                <th *ngIf="showTableOperation">Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.relatedPartiesArray, let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.relPartyCustomerCode}}</td>
                <td>{{item.relPartyCustomerName}}</td>
                <td>{{item.relPartyRelationType}}</td>
                <td>{{item.relPartyPostalAddress}}</td>
                <td *ngIf="showTableOperation">
                  <mat-icon color="primary" (click)="onEditRelatedParty(i)">edit</mat-icon> &nbsp; &nbsp;
                  <mat-icon color="accent" (click)="onDeleteRelatedParty(i)">delete_sweep</mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <button *ngIf="displayBackButton" mat-raised-button type="submit" class="pull-left bg-secondary text-white approval"
                routerLink="/system/savings-account/maintenance">BACK</button>
              <button *ngIf="displayApprovalBtn" mat-raised-button type="submit" class="pull-left bg-secondary text-white approval"
                routerLink="/system/new/notification/allerts">BACK</button>
              <button mat-raised-button type="submit" *ngIf="onShowDeleteButton" class="float-right approval" color="accent">DELETE</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab class="mat-tab" label="NOMINEES">
          <br>
          <form [formGroup]="nomineesForm" (ngSubmit)="onSubmit()" class="form needs-validation" novalidate>
            <div class="row g-3" *ngIf="onShowNomineesForm">
              <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3 has-validation">
                  <div class="col-md-4 col-sm-12 form-column">
                    <label for="validationServerUsername" class="start">First Name</label>
                  </div>
                  <div class="col-md-8 col-sm-12 ">
                    <input type="name" formControlName="firstName" class="form-control" id="validationServerUsername"
                      oninput="this.value=this.value.toUpperCase()" oninput="this.value=this.value.toUpperCase()"
                      type="name"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      maxlength="20">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <div class="col-md-4 col-sm-12 form-column">
                    <label class="start">Middle Name</label>
                  </div>
                  <div class="col-md-8 col-sm-12 ">
                    <input type="name" formControlName="middleName" class="form-control"
                      oninput="this.value=this.value.toUpperCase()" oninput="this.value=this.value.toUpperCase()"
                      type="name"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      maxlength="20">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <div class="col-md-4 col-sm-12 form-column">
                    <label class="start">Last Name</label>
                  </div>
                  <div class="col-md-8 col-sm-12 ">
                    <input type="name" formControlName="lastName" class="form-control"
                      oninput="this.value=this.value.toUpperCase()" oninput="this.value=this.value.toUpperCase()"
                      type="name"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      maxlength="20">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <div class="col-md-4 col-sm-12 form-column">
                    <label class="start">Date of Birth</label>
                  </div>
                  <div class="col-md-8 col-sm-12 form-column">
                    <input [matDatepicker]="dob" formControlName="dob" class="form-control">
                    <span *ngIf="onShowDate" color="primary">
                      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                    </span>
                    <mat-datepicker color="primary" #dob></mat-datepicker>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <div class="col-md-4 col-sm-12 form-column">
                    <label class="start">National ID</label>
                  </div>
                  <div class="col-md-8 col-sm-12 ">
                    <input type="number" formControlName="identificationNo" class="form-control"
                      oninput="this.value=this.value.toUpperCase()"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      type="number" maxlength="14">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <div class="col-md-4 col-sm-12 form-column">
                    <label class="start">Phone</label>
                  </div>
                  <div class="col-md-8 col-sm-12 ">
                    <input type="number" formControlName="phone" class="form-control"
                      oninput="this.value=this.value.toUpperCase()"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      type="number" maxlength="13">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <div class="col-md-4 col-sm-12 form-column">
                    <label class="start">Email Address</label>
                  </div>
                  <div class="col-md-8 col-sm-12 ">
                    <input type="email" formControlName="emailAddress" class="form-control"
                      oninput="this.value=this.value.toUpperCase()" oninput="this.value=this.value.toUpperCase()"
                      type="name"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      maxlength="55">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <div class="col-md-4 col-sm-12 form-column">
                    <label class="start">Occupation</label>
                  </div>
                  <div class="col-md-8 col-sm-12 ">
                    <select formControlName="occupation" class="form-control">
                      <option value="" disabled>SELECT OCCUPATION</option>
                      <option oninput="this.value=this.value.toUpperCase()" *ngFor="let occupation of occupations"
                        [value]="occupation">{{occupation}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <div class="col-md-4 col-sm-12 form-column">
                    <label class="start">Relationship</label>
                  </div>
                  <div class="col-md-8 col-sm-12 ">
                    <select formControlName="relationship" class="form-control">
                      <option value="" disabled>SELECT RELATIONSHIP</option>
                      <option oninput="this.value=this.value.toUpperCase()" *ngFor="let relationships of relationship"
                        [value]="relationships.description">{{relationships.code}}-{{relationships.description}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="showButtons">
              <button type="button" class="pull-right btn btn-success btn-sm" *ngIf="onShowAddButton"
                (click)="onAddNominee()">ADD</button>
              <button class="pull-right btn btn-success btn-sm" *ngIf="onShowUpdateButton" type="button"
                (click)="onUpdateNominee()">UPDATE
              </button>
              <button type="button" class="pull-right btn btn-primary btn-sm" (click)="onInitNomineesForm()">RESET
                FORM</button>
              <button type="button" class="pull-right btn btn-secondary btn-sm" (click)="onNomineeClear()">CLEAR
                ALL</button>
            </div>
          </form>
          <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
            <thead>
              <tr>
                <th>No.</th>
                <th>Firt Name</th>
                <th>Last Name</th>
                <th>ID</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Relationship</th>
                <th>Occupation</th>
                <th *ngIf="showTableOperation">Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.nomineesArray, let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.identificationNo}}</td>
                <td>{{item.emailAddress}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.relationship}}</td>
                <td>{{item.occupation}}</td>
                <td *ngIf="showTableOperation">
                  <mat-icon color="primary" (click)="onEditNominee(i)">edit</mat-icon> &nbsp; &nbsp;
                  <mat-icon color="accent" (click)="onDeleteNominee(i)">delete_sweep</mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
        </mat-tab>
        <mat-tab class="mat-tab" label="SAVINGS ACCOUNT STATEMENT" *ngIf="onShowAccountStatementTab">
          <br>
          <div id="print-section">
            <div class="row" *ngIf="this.results">
              <div class="col-md-4 col-sm-12">
                <h4>Account ID: <strong>{{this.results.acid}}</strong></h4>
              </div>
              <div class="col-md-4 col-sm-12">
                <h4>Account Balance: <strong>{{this.results.accountBalance | currency: 'UGX'}}</strong></h4>
              </div>
              <div class="col-md-4 col-sm-12">
                <h4>Account Status: <strong>{{this.results.accountStatus}}</strong></h4>
              </div>
            </div>
            <div class="row" *ngIf="this.results">
              <div class="col-md-3 col-sm-12">
                <h4>Account Type:- <strong>{{this.results.accountType}}</strong> </h4>
              </div>
              <div class="col-md-3 col-sm-12">
                <h4>Membership Code: <strong>{{this.results.customerCode}}</strong></h4>
              </div>
              <div class="col-md-6 col-sm-12">
                <h4>Account Name:- <strong>{{this.results.accountName}}</strong></h4>
              </div>
            </div>
            <h4 class="text-center"><strong>SAVINGS ACCOUNT STATEMENT REPORT FOR ACCOUNT {{this.results.acid}}</strong>
            </h4>
            <mat-divider *ngIf="this.results"></mat-divider>
            <br>
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <h4>FROM:- &nbsp;<strong>{{this.fromdate | date: 'yyyy-MM-dd'}}</strong> </h4>
              </div>
              <div class="col-md-4 col-sm-12">
                <h4>TO:- &nbsp; <strong>{{this.todate | date: 'yyyy-MM-dd'}}</strong></h4>
              </div>
            </div>
            <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>T. TYPE</th>
                  <th>T. CODE</th>
                  <th>T. AMOUNT</th>
                  <th>PART-TRAN</th>
                  <th>DESCRIPTION</th>
                  <th>DATE</th>
                  <th>TIME</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.account_statement, let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{item.transaction_type}}</td>
                  <td>{{item.transaction_code}}</td>
                  <td>{{item.tran_amount | currency: 'UGX'}}</td>
                  <td>{{item.part_tran_type}}</td>
                  <td>{{item.tran_particulars}}</td>
                  <td>{{item.tran_date | date: 'dd-MM-yyyy'}}</td>
                  <td>{{item.tran_date | date: 'hh:mm:ss a'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="pull-right btn btn-success btn-sm"
            (click)="printAccountStatement()">PRINT</button>
          <button type="button" class="pull-right btn btn-secondary btn-sm"
            (click)="onExportAccountStatement()">EXPORT</button>
          <br>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <button *ngIf="displayBackButton" mat-raised-button type="submit" class="pull-left bg-secondary text-white approval"
                routerLink="/system/savings-account/maintenance">BACK</button>
              <button *ngIf="displayApprovalBtn" mat-raised-button type="submit" class="pull-left bg-secondary text-white approval"
                routerLink="/system/new/notification/allerts">BACK</button>
            </div>
          </div>
        </mat-tab>
          <mat-tab class="mat-tab" label="Account Documents">
            <br>
            <form [formGroup]="accountDocumentsForm" *ngIf="onShowImagesForm">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column">
                      <label class="start pull-left">Document Type</label>
                   </div>
                    <div class="col-md-6 col-sm-12 form-column">

                      <select formControlName="documentTitle" class="form-control">
                         <option value="" disabled>--CHOOSE DOCUMENT--</option>
                        <option *ngFor="let image of documentTypeArray" [value]="image">{{image}}
                       </option>
                      </select>
                    </div>
                  </div>
                </div>
              <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <div class="col-md-3 col-sm-12 form-column">
                      <label class="start">Document</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12 form-column">
                          <input class="form-controls" type="file" required (change)="onImageFileChange($event)">
                        </div>
                      </div>
                      <div class="form-group">
                        <mat-hint><small>Only png, jpeg accepted</small></mat-hint>
                      </div>
                      <div class="form-group">
                        <img [src]="imageSrc" *ngIf="imageSrc" class="col-md-6 img-preview">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="showButtons">
                <button *ngIf="addButton" (click)="addAccountDocuments()" class="pull-right btn btn-success btn-sm"
                  [disabled]="!accountDocumentsForm.valid || disableAddButton" mat-raised-button color="primary" type="button">
                  Add Document File.
                </button>
                <button *ngIf="editButton" (click)="updateAccountDocuments()" class="pull-right btn btn-primary btn-sm"
                  [disabled]="!accountDocumentsForm.valid || disableAddButton" mat-raised-button color="primary" type="button">
                  Update Document File.
                </button>
              </div>
            </form>
            <div class="row table-action-row">
              <div class="on-mobile-hide col-md-6 col-sm-12">
                <strong>Account Document List</strong>
              </div>
              <div class="col-md-6 col-sm-12">
                <input class="pull-right search form-control" (keyup)="applyAccountDocumentsFilter($event)"
                  placeholder="Search..." #input />
              </div>
            </div>
            <div class="table-row">
              <table mat-table matSort matTableExporter [dataSource]="accountDocumentsDataSource">
                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                  <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
                </ng-container>
                <ng-container matColumnDef="documentTitle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                  <td mat-cell *matCellDef="let row">{{ row.documentTitle }}</td>
                </ng-container>
                <ng-container matColumnDef="view">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>View Document</th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [disabled]="disableViewAction" color="primary" (click)="onViewDoument(row.sn)">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [disabled]="disableActions" color="primary" (click)="editAccountDocuments(row)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="disableActions" (click)="deleteAccountDocuments(row)" color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="accountDocumentsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: accountDocumentsColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[7, 20, 30, 40, 50, 100]" aria-label="Select page"></mat-paginator>
            <br>
            <button *ngIf="displayBackButton" mat-raised-button type="submit" class="pull-left bg-secondary text-white approval"
              routerLink="/system/savings-account/maintenance">BACK</button>
            <button *ngIf="displayApprovalBtn" mat-raised-button type="submit" class="pull-left bg-secondary text-white approval"
              routerLink="/system/new/notification/allerts">BACK</button>
              <button *ngIf="!hideBtn" class="pull-right approval" mat-raised-button [color]="btnColor" type="submit" (click)="onSubmit()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{btnText}}
              </button>
            <button *ngIf="hideRejectBtn" class="pull-right approval" mat-raised-button [color]="btnRejectColor"
              (click)="onRejectAccount()">
              {{rejectBtnText}}
            </button>
            <br>
          </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</mat-card>
