<mat-card>
	<div *ngIf="loading">
		<p><small>Processing, please wait...</small></p>
		<p>
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</p>
	</div>
	<mat-card-header class="breadcrumb">
		<div>
			<a routerLink="/saccomanagement">Dashboard / </a> User Entity Roles Maintenance
		</div>
	</mat-card-header>
	<mat-divider></mat-divider>
	<br>
	<div class="container-fluid">
		<form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()" #resetRequestsForm="ngForm" novalidate>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label>Function<span class="warning">*</span></label>
						</div>
						<div class="col-md-6 col-sm-12 form-column ">
							<select (change)="onSelectFunction($event)" class="form-control"
								formControlName="function_type"
								[ngClass]="{ 'is-invalid': submitted && f.function_type.errors }">
								<option value="" disabled>-- CHOOSE FUNCTION --</option>
								<option *ngFor="let flag of functionArray" [value]="flag">{{ flag }}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12" *ngIf="onsShowCode">
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
							<label class="start pull-left">Role Code<span class="text-danger">*</span></label>
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<input type="text" formControlName="roleCode" class="form-control"
								[ngClass]="{ 'is-invalid': submitted && f.roleCode.errors }"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="6" minlength="3" />
							<mat-icon color="primary" (click)="rolesLookup()" *ngIf="onShowSearchIcon">search</mat-icon>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-sm-12 form-column ">
						</div>
						<div class="col-md-6 col-sm-12 form-column">
							<mat-hint>{{this.roleDescription}}</mat-hint>
						</div>
					</div>
				</div>
			</div>
			<br />
			<button mat-raised-button type="button" class="bg-secondary text-white" routerLink="/saccomanagement/">
				BACK
			</button>
			<button class="pull-right" mat-raised-button color="primary" type="submit">
				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
				PROCEED
			</button>
			<br />
		</form>
	</div>
</mat-card>
