<div class="container">
  <mat-card>
    <div class="row">
      <div class="left-info col-md-6 col-sm-12">
        <div class="loginImage">
          <img src="../../../assets/authimage.png" class="img-responsive">
        </div>
      </div>
      <div class="right-info col-md-6 col-sm-12">
        <span *ngIf="loading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></span>
        <div class="card-header">
          <div class="">
            <span>
              <h1>Reset Password</h1>
            </span>
          </div>
          <div class="profile-card">
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Your Email</label>
              <input type="email" formControlName="emailAddress" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" />
              <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.emailAddress.errors.required">Email is required</div>
              </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary" style="background-color: #004d99;">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Reset Password
            </button>
            <br>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <br>
            <a class="pull-left" routerLink="/sso" style="color: #004d99;">Login</a>
          </form>
        </div>
      </div>
    </div>
  </mat-card>
</div>
